@*@model StockDB.Model.Safe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Safe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employe.emp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employe.emp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.safe_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.safe_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.safe_totalBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.safe_totalBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.safe_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.safe_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.safe_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
