@model IEnumerable<StockDB.Model.Safe>

@{
    ViewBag.Title = "الخزاثن";
}

<link href="~/DataTable/datatables.min.css" rel="stylesheet" />
<h2>الخزائن</h2>

<div id="Details" class="d-none">

</div>
<div id="DeleteDiv" class="d-none">

</div>
<p>
    @Html.ActionLink("اضافة خزينة جديدة", "Create")
</p>
<table id="safedata" class="table">
    <thead>
        <tr>
            <th>
                م
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.safe_name)
            </th>
            <th>
                @Html.DisplayName("الرصيد")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.safe_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var countr = 0;
        }
        @foreach (var item in Model)
        {
            countr++;

            <tr>
                <td>
                    @countr
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employe.emp_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.safe_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.safe_totalBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.safe_date)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.safe_id }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.safe_id }) |*@
                    @Ajax.ActionLink("حذف", "Delete", "Safes", null, null, null,
        new { id = item.safe_id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "DeleteDiv", InsertionMode = InsertionMode.Replace, OnSuccess = "$('.modal').modal('toggle')", OnFailure = "alert('Not available Details')" }, new { @class = "Detilslink" })
                    |
                    @Html.ActionLink("تقرير الخزينه", "Index", "SafeReport",new { SafeID=item.safe_id},null)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="text-align:center" colspan="3">الاجمــــالي</th>
            <th >(جنيه) @Model.Sum(x => Convert.ToDouble(x.safe_totalBalance))</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

@section scripts{
    <script src="~/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $("#safedata").DataTable({
                "columnDefs": [{
                    "orderable": false,
                    "targets": [5],
                }],
                "language": {
                                     "sEmptyTable":     "ليست هناك بيانات متاحة في الجدول",
	"sLoadingRecords": "جارٍ التحميل...",
	"sProcessing":   "جارٍ التحميل...",
	"sLengthMenu":   "أظهر _MENU_ مدخلات",
	"sZeroRecords":  "لم يعثر على أية سجلات",
	"sInfo":         "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
	"sInfoEmpty":    "يعرض 0 إلى 0 من أصل 0 سجل",
	"sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
	"sInfoPostFix":  "",
	"sSearch":       "ابحث:",
	"sUrl":          "",
	"oPaginate": {
		"sFirst":    "الأول",
		"sPrevious": "السابق",
		"sNext":     "التالي",
		"sLast":     "الأخير"
	},
	"oAria": {
		"sSortAscending":  ": تفعيل لترتيب العمود تصاعدياً",
		"sSortDescending": ": تفعيل لترتيب العمود تنازلياً"
	}
                },
            });
        });
    </script>
}