
@model IEnumerable<StockViewModel.stockReportVM>
@{
    int counter = 0;
}




@{
    if (Model != null)
    {
        foreach (var item in Model)
        {

            if (item.Weight != 0)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@item.storeName</td>
                    <td>@item.itemname</td>
                   
                    <td>@item.supliername</td>
                    <td>@item.Quantity</td>

                </tr>
            }
        }
    }
}



