@model StockDB.Model.AspNetRole

@{
    ViewBag.Title = "صفحات المنظومة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/TreeView.css")

<div class="">
    <div class="page-title">
        <div class="title_right">
            <h3>@ViewBag.Title<small> - حذف</small></h3>
        </div>

    </div><div class="ln_solidTitle"></div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-3 col-xs-12">
            <div class="x_panel">
                <div class="treeview">
                    @if (ViewBag.SecurityModules != null)
                    {

                        var secureityModuleList = (List<StockDB.Model.AspNetModule>)ViewBag.SecurityModules;
                        <ul>
                            <li>
                                <span class="collapse collapsible">&nbsp;</span>
                                <span>
                                    وحدات المنظومة
                                </span>
                                <ul>
                                    @foreach (var item in secureityModuleList)
                                    {
                                        <li>
                                            @{ var submenu = secureityModuleList.Count; }
                                            @if (submenu > 0)
                                            {
                                                <span class="collapse collapsible">&nbsp;</span> @*collapsible*@
                                            }
                                            else
                                            {
                                                <span style="width: 15px; display: inline-block">&nbsp;</span>
                                            }
                                            <span>
                                                @Html.ActionLink(@item.Name, "Index", "SecurityRoles", new { secModId = item.Id, secModName = item.Name }, null)
                                            </span>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>

                    }
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="x_title">
                <h2>صفحات المنظومة التابعة لوحدة - @ViewBag.SelectedSecurityModuleName</h2>


                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="form-horizontal form-label-left">

                    @Html.HiddenFor(model => model.Id)
                    <div class="item form-group">
                        @Html.LabelFor(model => model.ArName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DisplayFor(model => model.ArName)
                        </div>
                    </div>
                    <div class="item form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            @using (Html.BeginForm())
                            {
                                <input type="Hidden" value="@ViewBag.SelectedSecurityModuleId" id="hdnSelectedSecurityModuleId" name="hdnSelectedSecurityModuleId" />
                                <input type="Hidden" value="@ViewBag.SelectedSecurityModuleName" id="hdnSelectedSecurityModuleName" name="hdnSelectedSecurityModuleName" />

                                @Html.AntiForgeryToken()
                                <input type="submit" value="حذف" class="btn btn-default" />
                                @Html.ActionLink("إلغاء", "Index", "SecurityRoles", new { secModId = ViewBag.SelectedSecurityModuleId, secModName = ViewBag.SelectedSecurityModuleName }, new { @class = "btn btn-default" })

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>